body {
    height: fit-content;
    width: 150px;
    padding: 5px;
}

label {
    font-weight: bold;
}

.div-table {
    display: table;
    width: 150px;
    border-spacing: 5px;
}

.div-table-row {
    display: table-row;
    width: 150px;
    clear: both;
}

.div-table-col {
    display: table-column;
    float: left;
    width: 150px;
}

.icon {
    width: 15px;
    height: 15px;
    position: absolute;
}

#clear-button-col {
    text-align: center;
}

#clearButton {
    width: 100%;
    display: block;
}