<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/popup.css"></link>
</head>

<body>
    <form id="optionsForm">
        <div class="div-table">
            <div class="div-table-row">
                <div class="div-table-col">
                    <label>
                      Filters
                    </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">
                    <label for="vegetarianCheckbox" style="display: block;">
                        <input type="checkbox" id="vegetarianCheckbox" name="vegetarianCheckbox">
                        Vegetarian
                        <span style="color:green"><b>V</b></span>
                    </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">
                    <label for="mushroomCheckbox">
                        <input type="checkbox" id="mushroomCheckbox" name="mushroomCheckbox">
                        Mushroom
                        <img class="icon" src="/images/icons/mushroom_icon.png" title="mushroom">
                    </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">
                    <label for="paleoCheckbox">
                        <input type="checkbox" id="paleoCheckbox" name="paleoCheckbox">
                        Paleo
                        <img class="icon" src="/images/icons/paleo_meal_icon.png" title="paleo">
                    </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">
                    <label for="newMealCheckbox">
                        <input type="checkbox" id="newMealCheckbox" name="newMealCheckbox">
                        New meal
                        <img class="icon" src="/images/icons/new_meal_icon.png" title="new">
                    </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">
                    <label for="timeLimitedOrderCheckbox">
                        <input type="checkbox" id="timeLimitedOrderCheckbox" name="timeLimitedOrderCheckbox">
                        Time limited order
                    </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col" id="clear-button-col">
                    <input type="button" id="clearButton" name="clearButton" value="Clear">
                </div>
            </div>
        </div>
    </form>
    <script src="/js/main.js"></script>
</body>

</html>