<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/popup.css"></link>
</head>

<body>
    <form id="optionsForm">
        <div class="div-table">
            <div class="div-table-row">
                <div class="div-table-col">
                    <label>
                      Filters
                    </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">
                    <label for="vegetarianCheckbox">
              <input type="checkbox" id="vegetarianCheckbox" name="vegetarianCheckbox">
              Vegetarian
            </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">
                    <label for="mushroomCheckbox">
              <input type="checkbox" id="mushroomCheckbox" name="mushroomCheckbox">
              Mushroom
            </label>
                </div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col" id="clear-button-col">
                    <input type="button" id="clearButton" name="clearButton" value="Clear">
                </div>
            </div>
        </div>
    </form>
    <script src="/js/main.js"></script>
</body>

</html>